# OS
.DS_Store

# Env
.env
.env.*
!.env.example

# Editors
.idea/
.vscode/

# Worktrees/history
.worktrees/
.history/
content/
!frontend/content/
!frontend/content/**
.claude/

# Dependencies
node_modules

# Build outputs
frontend/.next/
frontend/out/
docs/build/
docs/.docusaurus/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
